@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Objective Accounting</title>*@
        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
@*link is for symbols/icons of navbar if wanted*@
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">*@
@*link above is for user icon*@
@*<style>

            body {
                padding-top: 0px; /*Do not delete this line, it's an override*/
                margin: 0;
                font-family: Arial;
            }


            .mynav_navbar {
                overflow: hidden;
                background-color: silver;
                font-family: inherit;
                width: 100%;
                position: fixed;
                /*display: inline-block;*/
                /*height: 80px;*/
            }

                .mynav_navbar a {
                    float: left;
                    /*display: inline-block;*/
                    font-size: 23px;
                    color: black;
                    text-align: center;
                    padding: 20px 25px;
                    /*margin: 16px;*/
                    text-decoration: none;
                }

                .mynav_navbar .icon {
                    display: none;
                }

            .mynav_dropdown {
                float: left;
                overflow: hidden;
            }

                .mynav_dropdown .mynav_dropbtn {
                    font-size: 23px;
                    border: none;
                    outline: none;
                    color: black;
                    padding: 20px 25px;
                    background-color: inherit;
                    font-family: inherit;
                    margin: 0;
                }

                .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
                    background-color: #0087ff;
                    color: white;
                }

            .mynav_dropdown-content {
                display: none;
                position: fixed;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

                .mynav_dropdown-content a {
                    float: none;
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }

                    .mynav_dropdown-content a:hover {
                        background-color: #ddd;
                        color: black;
                    }

            .mynav_dropdown:hover .mynav_dropdown-content {
                display: block;
            }

            .footer {
                position: fixed;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 15px;
                text-align: center;
                background-color: #0066ff;
                color: white;
            }

            @@media screen and (max-width: 600px) {
                .mynav_navbar a:not(:first-child), .mynav_dropdown .mynav_dropbtn {
                    display: none;
                }

                .mynav_navbar a.icon {
                    float: right;
                    display: block;
                }
            }

            @@media screen and (max-width: 600px) {
                .mynav_navbar.responsive {
                    position: relative;
                }

                    .mynav_navbar.responsive .icon {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    .mynav_navbar.responsive a {
                        float: none;
                        display: block;
                        text-align: left;
                    }

                    .mynav_navbar.responsive .mynav_dropbtn {
                        float: none;
                    }

                    .mynav_navbar.responsive .mynav_dropdown-content {
                        position: relative;
                    }

                    .mynav_navbar.responsive .mynav_dropdown .mynav_dropbtn {
                        display: block;
                        width: 100%;
                        text-align: left;
                    }
            }
        </style>
    </head>*@



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <style>
        /* Shrinking the sidebar from 250px to 80px and center aligining its content*/
        #sidebar.active {
            min-width: 80px;
            max-width: 80px;
            text-align: center;
        }

        /* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
        #sidebar .sidebar-header strong {
            display: none;
        }

        #sidebar.active .sidebar-header h3 {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

        #sidebar ul li a {
            text-align: left;
        }

        #sidebar.active ul li a {
            padding: 20px 10px;
            text-align: center;
            font-size: 0.85em;
        }

            #sidebar.active ul li a i {
                margin-right: 0;
                display: block;
                font-size: 1.8em;
                margin-bottom: 5px;
            }

        /* Same dropdown links padding*/
        #sidebar.active ul ul a {
            padding: 10px !important;
        }

        /* Changing the arrow position to bottom center position, 
           translateX(50%) works with right: 50% 
           to accurately  center the arrow */
        #sidebar.active .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
    
}


    </style>

</head>



<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
                <strong>BS</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        About
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Pages
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <div class="footer">
            <footer>
                @*<hr style="border-color: gray; width: 70%"/>*@
                <p>
                    &copy; @DateTime.Now.Year - Objective Accounting - 
                    Jared Breedlove, Amnah Ilyas, Quillan May, Colt McKissick, Broderick Thayer, and Zachary Thayer
                </p>
            </footer>
        </div>
    </div>

    @*<script>
        function myFunction() {
            var x = document.getElementById("Nav_Navbar");
            if (x.className === "mynav_navbar") {
                x.className += " responsive";
            } else {
                x.className = "mynav_navbar";
            }
        }
    </script>
    <script type="text/javascript">

    window.onload = function () {
        var username = '@Session["FirstNameofUser"]';
        document.getElementById("LoggedName").innerHTML = "Welcome, " + username;
    };
    </script>*@



    <script>


        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
    </script>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
