
@model List<AccountingApp.Models.ChartOfAcc>

@{
    ViewBag.Title = "ChartOfAccounts";
    //Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <style>
        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            margin-bottom: 40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        i,
        span {
            display: inline-block;
        }


        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }


        .wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        .wrapper {
            display: flex;
            align-items: stretch;
        }

        #sidebar {
            min-width: 300px;
            max-width: 650px;
            min-height: 100vh;
        }
        /*#sidebar.active {
                margin-left: -150px;
            }*/
        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background: #f4f4f4;
            font-size: 1.2em;
        }

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        #sidebar {
            background: #3e547f;
            color: lightgray;
            transition: all 0.3s;
        }

            #sidebar .sidebar-header {
                padding: 20px;
                background: #3e547f;
                border-bottom: 1px solid #47748b;
            }

            #sidebar ul.components {
                padding: 20px 0;
                border-bottom: 1px solid #47748b;
            }

            #sidebar ul p {
                color: #d5d8e0;
                padding: 20px;
            }

            #sidebar ul li a {
                padding: 20px;
                font-size: 1.2em;
                display: block;
            }

                #sidebar ul li a:hover {
                    color: #3e547f;
                    background: #d5d8e0;
                }

            #sidebar ul li.active > a, a[aria-expanded="true"] {
                color: #fff;
                background: #3e547f;
            }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6579a0;
        }

        @@media (max-width: 768px) {
            #sidebar {
                margin-left: -300px;
            }

                #sidebar.active {
                    margin-left: 0;
                }
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="fixed-left">

            <div class="sidebar-header">
                <h5>Menu</h5>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/Manager/ManagerIndex">
                        <i class="fas fa-home" style="margin-right:10px;"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/Manager/ChartOfAccounts">
                        <i class="fas fa-list" style="margin-right:10px;"></i>
                        Chart Of Accounts
                    </a>

                </li>
                @*<li>

                    <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-list" style="margin-right:10px;"></i>
                        Chart Of Accounts
                    </a>
                    <ul class="collapse list-unstyled" id="accountSubmenu">
                        <li>
                            <a href="/Manager/ChartOfAccounts">Chart of Accounts</a>
                        </li>
                    </ul>
                    </li>*@
                <li>

                    <a href="/Manager/Journalize">
                        <i class="far fa-edit" style="margin-right:10px"></i>
                        Journalize
                    </a>
                </li>
                <li>

                    <a href="/Manager/GeneralLedger">
                        <i class="fas fa-book" style="margin-right:10px"></i>
                        General Ledger
                    </a>
                </li>

                <li>

                    <a href="#transactionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-dollar-sign" style="margin-right:10px"></i>
                        Transactions
                    </a>
                    <ul class="collapse list-unstyled" id="transactionSubmenu">
                        <li>
                            <a href="/Manager/Transactions">All Transactions</a>
                        </li>
                        <li>
                            <a href="/Manager/ApprovedTransactions">Approved Transactions</a>
                        </li>
                        <li>
                            <a href="/Manager/DisapprovedTransactions">Rejected Transactions</a>
                        </li>
                        <li>
                            <a href="/Manager/PendingTransactions">Pending Transactions</a>
                        </li>
                        <li>
                            <a href="/Manager/SuspendedTransactions">Suspended Transactions</a>
                        </li>

                    </ul>
                </li>
                <li>

                    <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="far fa-chart-bar" style="margin-right:10px"></i>
                        Reports
                    </a>
                    <ul class="collapse list-unstyled" id="reportSubmenu">
                        <li>
                            <a href="/Manager/TrialBalance">Trial Balance</a>
                        </li>
                        <li>
                            <a href="/Manager/IncomeStatement">Income Statement</a>
                        </li>
                        <li>
                            <a href="/Manager/RetainedEarnings">Statement Of Retained Earnings</a>
                        </li>
                        <li>
                            <a href="/Manager/BalanceSheet">Balance Sheet</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/Manager/EventLog">
                        <i class="fas fa-briefcase" style="margin-right:10px;"></i>
                        Event Log
                    </a>

                </li>
            </ul>

        </nav>

        <div id="content">

            <nav class="navbar navbar-expand-lg sticky-top navbar-light justify-content-between">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color:#3e547f">
                        <i class="fas fa-bars"></i>

                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="~/img/Accounting Logo.PNG" width="150" height="40" style="margin-right: 15px; margin-left: 10px;" />

                    </a>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto" style="float:right">
                            <li class="nav-item active" style="margin-top:10px">
                                <a>
                                    <i class="fas fa-user-circle" style="color:#3e547f;font-size:24px; "></i>


                                    <i id="LoggedName" class="nav-item" style="font-size: large;  font-style: normal;">Welcome, Admin</i>
                                </a>

                            </li>

                            <li class="nav-item active">
                                <button class=" btn btn-outline-success" onclick="LogOutUser()" style="font-size:large;margin-left:30px">
                                    Log Out
                                </button>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <div class=" body-content" style="width:100%; margin:0 auto">
                <div>
                    <h4 style="display:inline">Chart Of Accounts</h4>
                </div>
                <br />
                <div>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" onclick="FormatNewAccountModal()" data-target="#RequestAccountModal">Request New Account</button>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" onclick="LoadAccountList()" data-target="#RequestUpdateModal">Request Account Update</button>
                </div>
                <hr class="my-4" />
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @TempData["Message"]
                    </div>
                }

                <table id="Accountstable" class="table table-responsive table-hover shadow " style="font-size:1.1rem; background-color:white; width:100%; box-shadow: 2px 6px 6px 2px lightgray;">
                    <thead class="shadow" style="background-color:white; width:100%">
                        <tr>
                            <th style="width:10%">Account Number</th>
                            <th style="width:20%">Account Name</th>
                            <th style="width:10%">Account Type</th>
                            <th style="width:10%">Normal Side</th>
                            <th style="width:10%">Original Balance</th>
                            <th style="width:10%">Current Balance</th>
                            <th style="width:10%">Account Description</th>
                            <th style="width:10%">Active</th>
                            <th style="width:10%">Created By</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>@Model[i].AccountNumber</td>
                                <td><a href="../Manager/GeneralLedger?name=@Model[i].AccountName" style="color:blue">@Model[i].AccountName</a></td>
                                <td>@Model[i].AccountType</td>
                                <td>@Model[i].NormalSide</td>
                                <td style="text-align:end">@Model[i].OriginalBalString</td>
                                <td style="text-align:end">@Model[i].CurrentBalString</td>
                                <td>@Model[i].AccountDescription</td>
                                <td>@(Model[i].Active ? "Y" : "N")</td>
                                <td>@Model[i].CreatedBy</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr />

            </div>
            <div class="container body-content">

                <footer align="center">
                    <p>
                        &copy; @DateTime.Now.Year - Objective Accounting -
                        Jared Breedlove, Amnah Ilyas, Quillan May, Colt McKissick, Broderick Thayer, and Zachary Thayer
                    </p>
                </footer>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="RequestAccountModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="text-align:left" class="modal-title">Request New Account</h4>
                    </div>
                    <div class="modal-body">

                        <div>
                            <label for="Name" class="control-label">Account Number</label>
                            <input type="text" id="AccountNumber" class="form-control" autocomplete="off" />
                            <label for="NumberError" id="NumberError" class="text-danger"></label>
                        </div>

                        <div>
                            <label for="Name" class="control-label">Account Name</label>
                            <input type="text" id="AccountName" class="form-control" autocomplete="off" />
                            <label for="NameError" id="NameError" class="text-danger"></label>
                        </div>

                        <div class="form-group">
                            <label for="AccountType" class="control-label">Account Type</label>
                            <select name="AccountType" class="form-control" id="AccountType">
                                <option value="">Select..</option>
                                <option value="Asset">Asset</option>
                                <option value="Liability">Liability</option>
                                <option value="Equity">Equity</option>
                                <option value="Revenue">Revenue</option>
                                <option value="Expense">Expense</option>

                            </select>
                        </div>


                        <div id="AccountTypeError" class="text-danger">

                        </div>


                        <div class="form-group">
                            <label for="NormalSide">Normal Side</label>
                            <select class="cutom-select form-control" id="NormalSide" name="NormalSide">
                                <option value="">Select..</option>
                                <option value="Debit">Debit</option>
                                <option value="Credit">Credit</option>
                            </select>
                        </div>


                        <div id="AccountSideError" class="text-danger">

                        </div>


                        <div class="form-group">
                            <label for="OriginalBalance">Original Balance</label>
                            <input type="text" class="form-control text-right right-justified" id="OriginalBalance" placeholder="0.00" name="OriginalBalance" required>
                            <div id="AccountOriginalBalanceError" class="text-danger">

                            </div>
                        </div>

                        <div>
                            <label for="Description" class="control-label">Account Description</label>
                            <textarea class="form-control" id="Description" name="Description" rows="3" placeholder="Optional"></textarea>
                        </div>
                        <br />


                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="SubmitAccountRequest()" class="btn btn-success">Submit</button>
                        <button id="CloseModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="RequestUpdateModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="text-align:left" class="modal-title">Request Account Update</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="AccountSelect">Select an Account</label>
                            <select class="cutom-select form-control" id="AccountSelect" name="AccountSelect"></select>
                        </div>
                        <div id="AccountSelectError" class="text-danger">

                        </div>

                        <br />
                        <div>
                            <label for="Description" class="control-label">Specify What Needs Updated</label>
                            <textarea class="form-control" id="UpdateDescription" name="Description" rows="3" placeholder="Description"></textarea>
                        </div>
                        <div id="DescriptionError" class="text-danger">

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="SubmitUpdateRequest()" class="btn btn-success">Submit</button>
                        <button id="CloseUpdateModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    window.onload = function () {
        var username = '@Session["FirstNameofUser"]';
        document.getElementById("LoggedName").innerHTML = "Welcome, " + username;
    };

    </script>
    <script>
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
    </script>

    <script>

        function LogOutUser() {

            var username = '@Session["Username"]';

            $.ajax({
                url: "/Account/LogOutUser",
                contentType: "application/json; charset=utf-8",
                data: "{'username':'" + username + "'}",
                type: 'POST',
                cache: false,
                success: function (result) {
                    //alert(result);
                }
            });

            window.location.href = '../../Account/Login';
        }

    </script>

    <script>
        $(document).ready(function () {
            $('#Accountstable').DataTable();
        });
    </script>


    <script>

        function LoadAccountList() {

            document.getElementById("UpdateDescription").value = "";
            document.getElementById('DescriptionError').innerText = "";

            var Query;

            $.ajax(
                {
                    url: '/Accountant/GetAllAccountNames/',
                    type: "GET",
                    async: false,
                    dataType: "json",
                    contentType: "application/json;",
                    //data: { "id": Id },
                    success: function (result) {
                        //alert(result);
                        Query = result;

                    },
                    error: function (error) {
                        //alert(JSON.stringify(error));
                    }
                });


            var Q1 = Query.replace("[", "");
            var Q2 = Q1.replace("]", "");
            var res = Q2.split("\",\"");

            for (var i = 0; i < res.length; i++) {
                var Account = res[i].replace(/"/g, "");

                var x = document.getElementById("AccountSelect");
                var option = document.createElement("option");
                option.text = Account;
                x.add(option);

            }
        }

    </script>

    <script>

        function SubmitUpdateRequest() {


            var de = document.getElementById("UpdateDescription").value;
            if (de == "") {

                $.ajax({
                    url: "/Account/GetErrors",
                    method: 'post',
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('DescriptionError').innerText = data[55];
                    }
                });

                return;
            } else {
                //There is something to submit

                //Get selected account
                var skillsSelect = document.getElementById("AccountSelect");
                var name = skillsSelect.options[skillsSelect.selectedIndex].text;

                $.ajax({
                    url: "/Accountant/RequestAccountUpdate",
                    contentType: "application/json; charset=utf-8",
                    data: "{'name':'" + name + "', 'comment':'" + de + "'}",
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        alert(result);
                    }
                });

                //alert("Your update request has been submitted.");

                //Simulate button click to close modal
                document.getElementById('CloseUpdateModal').click();


                document.getElementById("UpdateDescription").value = "";
                document.getElementById('DescriptionError').innerText = "";

            }

        }


        function SubmitAccountRequest() {

            var num = document.getElementById("AccountNumber").value;
            if (num == "") {

                $.ajax({
                    url: "/Account/GetErrors",
                    method: 'post',
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('NumberError').innerText = data[50];
                    }
                });
            }

            var name = document.getElementById("AccountName").value;
            if (name == "") {

                $.ajax({
                    url: "/Account/GetErrors",
                    method: 'post',
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('NameError').innerText = data[51];
                    }
                });
            }

            var Select = document.getElementById("AccountType");
            var type = Select.options[Select.selectedIndex].text;

            if (type == "Select..") {

                $.ajax({
                    url: "/Account/GetErrors",
                    method: 'post',
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('AccountTypeError').innerText = data[52];
                    }
                });
            }

            var Select2 = document.getElementById("NormalSide");
            var side = Select2.options[Select2.selectedIndex].text;
            if (side == "Select..") {

                $.ajax({
                    url: "/Account/GetErrors",
                    method: 'post',
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('AccountSideError').innerText = data[53];
                    }
                });
            }

            var bal = document.getElementById("OriginalBalance").value;
            if (bal == "") {

                $.ajax({
                    url: "/Account/GetErrors",
                    method: 'post',
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('AccountOriginalBalanceError').innerText = data[54];
                    }
                });
            }

            if (num == "" || name == "" || type == "Select.." || side == "Select.." || bal == "") {
                return;
            }

            else {
                //Something to submit

                var comm = document.getElementById("Description").value;


                $.ajax({
                    url: "/Accountant/RequestAccount",
                    contentType: "application/json; charset=utf-8",
                    data: "{'number':'" + num + "', 'name':'" + name + "', 'type':'" + type + "', 'side':'" + side + "', 'balance':'" + bal + "', 'comment':'" + comm + "'}",
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        alert(result);
                    }
                });

                //alert("Your account request has been submitted.");

                //Simulate button click to close modal
                document.getElementById('CloseModal').click();


                document.getElementById('AccountNumber').value = "";
                document.getElementById('AccountName').value = "";
                document.getElementById("AccountType").selectedIndex = "0";
                document.getElementById("NormalSide").selectedIndex = "0";
                document.getElementById('OriginalBalance').value = "";
                document.getElementById('Description').value = "";


                document.getElementById('NumberError').innerText = "";
                document.getElementById('NameError').innerText = "";
                document.getElementById('AccountTypeError').innerText = "";
                document.getElementById('AccountSideError').innerText = "";
                document.getElementById('AccountOriginalBalanceError').innerText = "";
            }

        }

        function FormatNewAccountModal() {
            document.getElementById('NumberError').innerText = "";
            document.getElementById('NameError').innerText = "";
            document.getElementById('AccountTypeError').innerText = "";
            document.getElementById('AccountSideError').innerText = "";
            document.getElementById('AccountOriginalBalanceError').innerText = "";

            document.getElementById('AccountNumber').value = "";
            document.getElementById('AccountName').value = "";
            document.getElementById("AccountType").selectedIndex = "0";
            document.getElementById("NormalSide").selectedIndex = "0";
            document.getElementById('OriginalBalance').value = "";
            document.getElementById('Description').value = "";
        }

        // Restricts input for the given textbox to the given inputFilter.
        function setInputFilter(textbox, inputFilter) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                textbox.addEventListener(event, function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                });
            });
        }

        setInputFilter(document.getElementById("AccountNumber"), function (value) {
            return /^\d*$/.test(value);
        });


        setInputFilter(document.getElementById("OriginalBalance"), function (value) {
            return /^-?\d*[.,]?\d{0,2}$/.test(value);
        });
    </script>

</body>
</html>