@model AccountingApp.Models.Entries
@{
    ViewBag.Title = "General Journal";
    Layout = "~/Views/Shared/_Layout_Accountant.cshtml";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />


    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <style>

        .navbar-text {
            padding-right: 20px;
        }

        .container {
            width: 100%;
            margin-top: 2%;
        }

        .inner {
            overflow: hidden;
        }

            .inner img {
                transition: all 1.5s ease;
            }

            .inner:hover img {
                transform: scale(1.5);
            }
    </style>
</head>
<body>



    @*Amnah*@
    @*<nav style="padding:20px; font-size: 20px;   font-weight: 70;" class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Objective Accounting</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("ManagerIndex")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link active" href="#">User List</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">User Log</a>
                </li>
                <li>
                    <a class="nav-link active" href="@Url.Action("GeneralJournal")">General Journal</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">General Ledger</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">Reports</a>

                </li>
                <li>
                    <a class="nav-link active" href="@Url.Action("../Accountant/Journalize")">Journalize</a>
                </li>
                <li>
                    <a class="nav-link active" href="@Url.Action("../Admin/ChartOfAccounts")">Chart Of Accounts</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">Dashboard</a>
                </li>
                <br />
                <h3 style="color:darkgray">|</h3>
                <li>
                    <a class="nav-link active" href="#" style="width:50px;">
                        <i class="far fa-bell"></i>

                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("../Account/Login")">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>*@


    <br />
    <br />
    <div style="width:80%; margin:0 auto">

        <hr />
        <h5>General Journal</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="@Url.Action("GeneralJournal", new { status = "all"})" class="btn btn-success" role="button" aria-pressed="true">
                All
            </a>
            <a href="@Url.Action("GeneralJournal", new { status = "approved"})" class="btn btn-success" role="button" aria-pressed="true">
                Approved
            </a>
            <a href="@Url.Action("GeneralJournal", new { status = "disapproved"})" class="btn btn-success" role="button" aria-pressed="true">
                Disapproved
            </a>
            <a href="@Url.Action("GeneralJournal", new { status = "pending"})" class="btn btn-success" role="button" aria-pressed="true">
                Pending
            </a>
            <a href="@Url.Action("GeneralJournal", new { status = "suspended"})" class="btn btn-success" role="button" aria-pressed="true">
                Suspended
            </a>
        </div>
        <hr />
        <div>
            <table id="GeneralJournalTable" class="table table-responsive table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>EntryID</th>
                        <th>Accounts Affected</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.entries.Count; i++)
                    {
                        <tr data-toggle="modal"
                            data-id=@Model.entries[i].entryID
                            data-accounts="@Model.entries[i].FormattedAccountNames()"
                            data-debits="@Model.entries[i].FormattedDebits()"
                            data-credits="@Model.entries[i].FormattedCredits()"
                            data-comment="@Model.entries[i].comment"
                            data-target="#entryModal">
                            
                            <td>@Model.entries[i].submitDate</td>
                            <td>@Model.entries[i].entryID</td>
                            <td style="white-space: pre-wrap;">@Model.entries[i].FormattedAccountNames()</td>
                            <td align="right" style="white-space: pre-wrap;">@Model.entries[i].FormattedDebits()</td>
                            <td align="right" style="white-space: pre-wrap;">@Model.entries[i].FormattedCredits()</td>
                            <td>@Model.entries[i].status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <hr />

        <div id="entryModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="EntryIdModalTitle"></div>
                    <div class="modal-body">
                        <table id="ModalTable" class="table table-responsive table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <td>Accounts Affected</td>
                                    <td>Debits</td>
                                    <td>Credits</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="AccountsModal" style="white-space: pre-wrap;"></td>
                                    <td id="DebitsModal" style="white-space: pre-wrap;"></td>
                                    <td id="CreditsModal" style="white-space: pre-wrap;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-header">Comments</div>
                    <div class="modal-body" id="CommentModal"></div>
                    <div class="modal-body" id="FilesModal"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    
    <script>
        $(function () {
            $('#entryModal').modal({
                keyboard: true,
                backdrop: "static",
                show: false,

            }).on('show.bs.modal', function () { //subscribe to show method
                var getIdFromRow = $(event.target).closest('tr').data('id'); 
                var getEntriesFromRow = $(event.target).closest('tr').data('accounts');
                var getDebitsFromRow = $(event.target).closest('tr').data('debits');
                var getCreditsFromRow = $(event.target).closest('tr').data('credits');
                var getComment = $(event.target).closest('tr').data('comment');
                //make your ajax call populate items or what even you need
                $(this).find('#EntryIdModalTitle').html($('<b> Entry Id selected: ' + getIdFromRow + '</b>'))
                $(this).find('#AccountsModal').html($('<p>' + getEntriesFromRow + '</p>'))
                $(this).find('#DebitsModal').html($('<p>' + getDebitsFromRow + '</p>'))
                $(this).find('#CreditsModal').html($('<p>' + getCreditsFromRow + '</p>'))
                $(this).find('#CommentModal').html($('<p>' + getComment + '</p>'))
            });
        });
    </script>

</body>
</html>
