
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <style>
        body{
            background-color:white;
        }

        .navbar-text {
            padding-right: 20px;
        }

        .container {
            width: 100%;
            margin-top: 2%;
        }

        .inner {
            overflow: hidden;
        }

            .inner img {
                transition: all 1.5s ease;
            }

            .inner:hover img {
                transform: scale(1.5);
            }
        
        
    </style>
</head>
<body>
    <nav style="padding:20px; font-size: 20px;   font-weight: 70;" class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Objective Accounting</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("ManagerIndex")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link active" href="#">User List</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">User Log</a>
                </li>
                <li>
                    <a class="nav-link active" href="@Url.Action("GeneralJournal")">General Journal</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">General Ledger</a>
                </li>
                <li>
                    <a class="nav-link active" href="#">Reports</a>

                </li>
                <li>
                    <a class="nav-link active" href="@Url.Action("../Accountant/Journalize")">Journalize</a>
                </li>
                <li>
                    <a class="nav-link active" href="@Url.Action("../Admin/ChartOfAccounts")">Chart Of Accounts</a>
                </li>
                <li>
                    <a class="nav-link active" href="@Url.Action("ManagerIndex")">Dashboard</a>
                </li>
                <br />
                <h3 style="color:darkgray">|</h3>
                <li>
                    <a class="nav-link active" href="#" style="width:50px;">
                        <i class="far fa-bell"></i>

                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("../Account/Login")">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="shadow container" style="width:80%; background-color:gainsboro;">
        <div class="card-columns" style="width:100%; column-count:2; padding-top:20px;">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Notifications</h3>
                    <hr />
                    <p class="card-text">You have @ViewBag.pendingCount pending transactions.</p>
                    <a href="@Url.Action("ManagerApproval")" class="btn btn-success">View Pending Transactions</a>
                </div>
            </div>



            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">General Journal</h3>
                    <hr />
                    <p class="card-text">Click Below to see all the Journal Entries.</p>

                    <a href="@Url.Action("GeneralJournal")" class="btn btn-success">View All</a>
                </div>
            </div>

            <div class="card p-3">
                <blockquote class="blockquote mb-0">
                    <div class="card-header" style="background-color:white">
                        <h3>Reports</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="@Url.Action("TrialBalance")">  <li class="list-group-item">Trial Balance</li></a>
                        @*<a href="#"><li class="list-group-item">Adjusted Trial Balance</li></a>*@
                        <a href="@Url.Action("IncomeStatement")"><li class="list-group-item">Income Statement</li></a>
                        <a href="#"><li class="list-group-item">Balance Sheet</li></a>
                        <a href="#"><li class="list-group-item">Statement of Retained Earnings</li></a>
                        <a href="#"><li class="list-group-item">Post ClosingTrial Balance</li></a>
                    </ul>
                </blockquote>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Number Of Transactions</h3>
                    <hr />
                    <p>@ViewBag.approvedCount transactions this month.</p>

                </div>
            </div>
            
        </div>
    </div>
</body>
</html>
