@model AccountingApp.Models.Entries

@{
    //ViewBag.Title = "ManagerApproval";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
    //Layout = null;
}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">*@
        @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />*@
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <style>

        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

            .button:hover {
                color: black; /*color for individual links within dropdown*/
                text-decoration: none;
                opacity: .8;
                cursor: pointer;
            }
    </style>
</head>

<body>
    

    @*Amnah*@
    <div class="shadow container" style="width:80%; background-color:gainsboro;">
        <div class="card-columns" style="width:100%; column-count:1; padding-top:20px;">
            <div class="card" style="text-align:center;">
                <div class="card-body" style="display:inline-block;">
                    <h3 class="card-title">Pending Transactions</h3>
                    <hr />
                    <table id="PendingTransactionsTable" class="table table-responsive table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>EntryID</th>
                                <th>Accounts Affected</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.entries.Count; i++)
                            {
                                <tr>
                                    <td>@Model.entries[i].entryID</td>
                                    <td style="white-space: pre-wrap;">@Model.entries[i].FormattedAccountNames()</td>
                                    <td align="right" style="white-space: pre-wrap;">@Model.entries[i].FormattedDebits()</td>
                                    <td align="right" style="white-space: pre-wrap;">@Model.entries[i].FormattedCredits()</td>
                                    <td>@Model.entries[i].status</td>
                                    <td>
                                        <a class="button" style="background-color: #4CAF50;" href="@Url.Action("ApproveEntry", new { id = Model.entries[i].entryID})">
                                            Approve
                                        </a>
                                        <a class="button" style="background-color: red;" href="@Url.Action("DisapproveEntry", new { id = Model.entries[i].entryID})">
                                            Reject
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#PendingTransactionsTable').DataTable();
        });
    </script>

    <script>

    </script>

</body>

</html>
