@model AccountingApp.Models.Entries

@{
    ViewBag.Title = "Accountant Index";
    Layout = "~/Views/Shared/_Layout_Accountant.cshtml";
    //Layout = null;

}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Styles.Render("~/Scripts/bootstrap-datetimepicker.min.css")

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />


    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <style>
        .navbar-text {
            padding-right: 20px;
        }

        .container {
            width: 100%;
            margin-top: 2%;
        }

        .inner {
            overflow: hidden;
        }

            .inner img {
                transition: all 1.5s ease;
            }

            .inner:hover img {
                transform: scale(1.5);
            }

        .ErrorMessage {
            color: red;
            font-size: 14px;
        }

    </style>
</head>
<body>

    <br />
    <div style="width:80%; margin:0 auto">

    
        <h5>General Journal</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="@Url.Action("AccountantIndex", new { status = "all"})" class="btn btn-success" role="button" aria-pressed="true">
                All
            </a>
            <a href="@Url.Action("AccountantIndex", new { status = "approved"})" class="btn btn-success" role="button" aria-pressed="true">
                Approved
            </a>
            <a href="@Url.Action("AccountantIndex", new { status = "disapproved"})" class="btn btn-success" role="button" aria-pressed="true">
                Disapproved
            </a>
            <a href="@Url.Action("AccountantIndex", new { status = "pending"})" class="btn btn-success" role="button" aria-pressed="true">
                Pending
            </a>
            <a href="@Url.Action("AccountantIndex", new { status = "suspended"})" class="btn btn-success" role="button" aria-pressed="true">
                Suspended
            </a>
        </div>
        <hr />
        <div>
            <table id="GeneralJournalTable" class="table table-responsive table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Entry ID</th>
                        <th>Accounts Affected</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Status</th>
                        <th>Action</th>
                        @*<th>Files</th>*@
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.entries.Count; i++)
                {
                    <tr>
                        <td>@Model.entries[i].submitDate</td>
                        <td>@Model.entries[i].entryID</td>
                        <td style="white-space: pre-wrap;">@Model.entries[i].FormattedAccountNames()</td>
                        <td align="right" style="white-space: pre-wrap;">@Model.entries[i].FormattedDebits()</td>
                        <td align="right" style="white-space: pre-wrap;">@Model.entries[i].FormattedCredits()</td>
                        <td>@Model.entries[i].status</td>
                        <td>
                            @if (@Model.entries[i].status == "suspended")
                                {
                                @*<img height="3" width="3" alt="Image"
                                         src="@Url.Content("~/content/images/icon_red_questions_returnedbyreviewer.gif")" />*@
                                @*<span>Edit</span>*@

                                <a href="@Url.Action("EditJournal", new { id = Model.entries[i].entryID})">
                                    Edit
                                </a>
                            }
                            

                        </td>
                        @*<td>@(@Model.entries[i].status ? "Y" : "N")</td>*@
                        @*<td>@Model.entries[i].FormattedFileNames()</td>*@
                        @*<td>
                            <a href="@Url.Action("Download", new { file = Model.entries[i].FormattedFileNames()})">
                                Edit
                            </a>

                        </td>*@
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#JournalEntries').DataTable();
            RemoveDateTimes();
        });
    </script>

    <script>

        function RemoveDateTimes() {

            var table = document.getElementById("GeneralJournalTable");
            for (var i = 0, row; row = table.rows[i]; i++) {
                //iterate through rows
                //rows would be accessed using the "row" variable assigned in the for loop
                var date = table.rows[i].cells[0].innerText;
                var res = date.split(" ");
                table.rows[i].cells[0].innerText = res[0];  //Just the date portion
            }
        }

    </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#addMore').on('click', function () {
                var data = $("#tb tr:eq(1)").clone(true).appendTo("#tb");
                data.find("input").val('');
            });
            $(document).on('click', '.remove', function () {
                var trIndex = $(this).closest("tr").index();
                $(this).closest("tr").remove();
                //if (trIndex > 1) {
                //    $(this).closest("tr").remove();
                //} else {
                //    alert("Can't remove first row!");
                //}
            });
        });
    </script>

 
    @Scripts.Render("~/Scripts/jquery-1.8.3.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

    @* The script below has been commented out because testing showed it was interfering with posting journals to the database *@
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#JournalEntries').DataTable();
        });
    </script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</body>
</html>
