@model List<AccountingApp.Models.ChartOfAcc>

@{
    ViewBag.Title = "Retained Earnings";
    Layout = "~/Views/Shared/_Layout_Accountant.cshtml";
    //Layout = null;

}

<html>

<head>

    <link href="~/Scripts/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <style>

        .form_datetime {
            display: block;
            width: 40%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />*@

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <style>
    </style>
</head>

<body>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" style="margin-right: 1%" data-target="#myModal">Generate Report</button>
    <button class="btn btn-info btn-lg" id="cmd">Generate PDF</button>
    <br />
    <br />


    @*Amnah*@
    <div class="shadow container" style="width:87%; background-color:gainsboro;">
        <div class="card-columns" style="width:100%; column-count:1; padding-top:20px;">
            <div class="card" id="printContent" style="text-align:center;">
                <div class="card-body">
                    <h4 class="card-title" style="padding: 0px; margin: 0px;">Addams & Family Inc.</h4>
                    <h4 class="card-title" style="padding: 0px; margin: 0px;">Statement of Retained Earnings</h4>

                    <h4 style="padding: 0px; margin: 0px;">
                        @*style="padding-bottom: 20px" <- this was here if we wanted to increase vertical blank space*@
                        For the Period Ending
                        <script>
                            var options = { year: 'numeric', month: 'long', day: 'numeric' };
                            var date = new Date(Date.parse('@ViewBag.DisplayDate'));
                            document.write(date.toLocaleDateString("en-US", options))
                        </script>
                    </h4>
                    <hr style="border-width: 2px; border-color: black" />
                    <table id="retainedEarningsTable" align="center" class="table table-hover" style="width:100%">
                        <tr class="titleRow">
                            <td style="text-align: left">
                                Retained Earnings, Beginning
                            </td>
                            <td style="text-align: right">$ @ViewBag.RetainedEarnings</td>
                        </tr>
                        <tr class="titleRow">
                            <td style="text-align: left">Add: Net Income</td>
                            <td style="border-bottom: .15rem solid; text-align: right; width: 100px">@ViewBag.NetIncome</td>
                        </tr>
                        <tr class="titleRow">
                            <td style="text-align: left; text-indent: 5%">Total</td>
                            <td style="border-bottom: .15rem solid; text-align: right; width: 100px">@ViewBag.EarningsPlusIncome</td>
                        </tr>
                        <tr class="titleRow">
                            <td style="text-align: left">Less: Dividents Paid</td>
                            <td style="text-align: right; border-bottom: .15rem solid">@ViewBag.Dividends</td>
                        </tr>
                        <tr class="titleRow">
                            <td style="text-align: left">
                                Retained Earnings, Ending
                            </td>
                            <td style="text-align: right; border-bottom: .4rem double; width: 12%">$@ViewBag.Total</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">Generate Report By Date</h4>
                </div>
                <div class="modal-body">
                    <h5>Select a Date:</h5>
                    <input type="text" id="Date" onkeydown="return false;" autocomplete="off" class="form_datetime" style="text-align:right" value="" placeholder="mm/dd/yyyy">
                </div>
                <div class="modal-footer">
                    <button type="button" id="GenerateReport" onclick="LoadGeneratedReportDate()" class="btn btn-success" data-dismiss="modal">Generate</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/Scripts/jquery-1.8.3.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")

    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            format: "m/d/yyyy",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,  //this parameter removes the time selection, documentation: https://www.malot.fr/bootstrap-datetimepicker/
            forceParse: 0,
            showMeridian: 1
        });
    </script>

    <script>

        function LoadGeneratedReportDate() {


            var selectedDate = document.getElementById("Date").value;

            window.location.href = '../Accountant/RetainedEarnings?until=' + selectedDate;

        }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/html2pdf.bundle.min.js"></script>

    <script>
        $('#cmd').click(function () {
            var element = document.getElementById('printContent');
            var opt = {
                margin: 1,
                filename: 'RetainedEarnings.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().set(opt).from(element).save();
        });
    </script>
    <script>
        $(document).ready(function () {
            var table = document.getElementById("retainedEarningsTable");

            for (var i = 1; i < table.rows.length; i++) {
                var Dhtml = table.rows[i].cells[1].innerText;
                var newDhtml = Dhtml.replace("$", "");

                if (newDhtml != "") {
                    table.rows[i].cells[1].innerText = formatMoney(newDhtml);
                }
            }

            placeDollarSigns();

            //Populate date field with today
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            today = mm + '/' + dd + '/' + yyyy;

            var d = document.getElementById("Date");
            d.value = today;
        });
    </script>

    <script>
        function formatMoney(n, c, d, t) {
            var c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "." : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                j = (j = i.length) > 3 ? j % 3 : 0;

            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
        };

        function placeDollarSigns() {
            var table2 = document.getElementById("retainedEarningsTable");

            var num = table2.rows.length - 1;
            var x = table2.rows[num].cells[1].innerText;
            table2.rows[num].cells[1].innerText = "$ " + x;

            var num2 = table2.rows.length - 3;
            var x2 = table2.rows[num2].cells[1].innerText;
            table2.rows[num2].cells[1].innerText = "$ " + x2;
        }
    </script>


</body>

</html>

