

@{
    ViewBag.Title = "Log In";
}
<h2>@ViewBag.Title</h2>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Objective Accounting", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                @*<li>@Html.ActionLink("Users", "ShowUserData", "Home")</li>*@
                @*<li>@Html.ActionLink("Add New Users", "NewUser", "Home")</li>*@
                @*<li style="float:right">@Html.ActionLink("SignOut", "SignOut", "Home")</li>*@

            </ul>
        </div>
    </div>
</div>


<div>

    <form method="post">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="Username" class="control-label">Username</label>
                    <input type="text" id="Username" name="Username" class="form-control" />

                </div>

                <div class="form-group">
                    <label for="Password" class="control-label">Password</label>
                    <input type="text" id="Password" name="Password" class="form-control" />

                </div>

                <div class="col-md-12">
                    <div class="button">

                        <button type="submit" href="@Url.Action("Index")" class="btn  margin-left">Log In
                        </button>


                    </div>
                </div>
            </div>
        </div>


    </form>
</div>