@model List<AccountingApp.Models.CreateUser>

@{
    ViewBag.Title = "Current Users";
}
<h2>@ViewBag.Title</h2>

@if (TempData["Message"] != null)
{
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    @TempData["Message"]</div>
}

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Allowed Access</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZIP Code</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
            <tr>
                <td>@Model[i].ID</td>
                <td>@Model[i].FirstName</td>
                <td>@Model[i].LastName</td>
                <td>@Model[i].Email</td>
                <td>@Model[i].Username</td>
                <td>@Model[i].Password</td>
                <td>@Model[i].Role</td>
                <td>@Model[i].Phone</td>
                <td>@Model[i].Date</td>
                <td>@Model[i].Active</td>
                <td>@Model[i].Address</td>
                <td>@Model[i].City</td>
                <td>@Model[i].State</td>
                <td>@Model[i].ZIP_Code</td>

                <td>
                    <a href="@Url.Action("Delete", new { id = Model[i].ID})"><i class="glyphicon glyphicon-off"></i></a>
                    <a href="@Url.Action("Edit", new { id = Model[i].ID})"><i class="glyphicon glyphicon-edit"></i></a>

                </td>

            </tr>
            }
        </tbody>
    </table>

</div>