@model List<AccountingApp.Models.ChartOfAcc>

@{
    ViewBag.Title = "ChartOfAccounts";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
          @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@


    <style>
        /*body {
            padding-top: 70px;
            margin: 40px;
            background-color: gainsboro;
        }

        .nav {
            padding-right: 70px;
        }

        .navbar-header {
            padding-left: 70px;
        }*/
        .navbar-text {
            padding-right: 20px;
        }

        .container {
            width: 100%;
            margin-top: 2%;
        }

        .inner {
            overflow: hidden;
        }

            .inner img {
                transition: all 1.5s ease;
            }

            .inner:hover img {
                transform: scale(1.5);
            }
    </style>
</head>
<body>
    @*<div class="nav">
            <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse navbar-nav">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Objective Accounting</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>

                        <li><a href="#">User Log</a></li>

                        <li><a href="@Url.Action("ShowUserData","Home")">Users</a></li>

                        <li><a href="#">Chart Of Accounts</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="navbar-text"><span class="glyphicon glyphicon-user"></span> Welcome, Admin</span></li>
                        <li><a href="#">SignOut</a></li>
                    </ul>
                </div>

            </nav>
        </div>*@


    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light" style="background-color: silver">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">
                <img src="~/img/Accounting Logo.PNG" width="150" height="40" />
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/AdminIndex">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            <ul class="navbar-nav navbar-right">
                <li><span id="LoggedName" class="navbar-text"><span class="glyphicon glyphicon-user"></span>Welcome, Admin</span></li>
                @*<br />*@
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Login">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <br />
    <div style="width:85%; margin:0 auto">
        <h4>Chart Of Accounts</h4>
        <hr class="my-4" />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @TempData["Message"]
            </div>
        }
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            <a href="@Url.Action("NewAccount")" class="btn btn-success icon" role="button" aria-pressed="true">
                Create Account
            </a>
        </button>

        <br />
        <br />
        <br />
        <!-- Modal -->
        @*@using (Html.BeginForm())
            {

                <form method="post" id="accountform">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Create New Account</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">

                                            <label for="AccountNumber">Account Number</label>
                                            <input type="text" class="form-control" id="AccountNumber">

                                        </div>
                                        <div class="form-group col-md-6">

                                            <label for="AccountName">Account Name</label>
                                            <input type="text" class="form-control" id="AccountName">

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="AccountType">Account Type</label>
                                                <select class="form-control" id="AccountType">
                                                    <option value="Assets">Assets</option>
                                                    <option value="Assets">Liabilities</option>
                                                    <option value="Assets">Equity</option>
                                                    <option value="Assets">Revenue</option>
                                                    <option value="Assets">Expense</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">

                                            <div class="form-group">
                                                <label for="NormalSide">Normal Side</label>
                                                <select class="cutom-select form-control" id="NormalSide">
                                                    <option value="Debit">Debit</option>
                                                    <option value="Credit">Credit</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="OriginalBalance">Original Balance</label>
                                                <input type="text" class="form-control text-right" id="OriginalBalance" placeholder="0.00">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="c">Current Balance</label>
                                                <input type="text" class="form-control text-right" id="AccountDescription" placeholder="0.00">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="AccountDescription">Account Description</label>
                                        <textarea class="form-control" id="AccountDescription" rows="7"></textarea>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="CreatedBy">Created By</label>
                                        <input type="text" class="form-control" id="CreatedBy" placeholder="Admin">
                                    </div>

                                    <div class="form-group col-md-12 custom-control custom-radio">
                                        <label for="Active">Active</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Active" id="Yes" value="option1">
                                            <label class="form-check-label custom-control-label" for="Yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Active" id="No" value="option2">
                                            <label class="form-check-label custom-control-label" for="No">No</label>
                                        </div>

                                    </div>


                                </div>



                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit"  class="btn btn-primary" id="btnsubmit">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }*@
        <div>
            <table id="Accountstable" class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Account Name</th>
                        <th>Account Type</th>
                        <th>Normal Side</th>
                        <th>Original Balance</th>
                        <th>Current Balance</th>
                        <th>Account Description</th>
                        <th>Active</th>
                        <th>Created By</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Model[i].AccountNumber</td>
                            <td>@Model[i].AccountName</td>
                            <td>@Model[i].AccountType</td>
                            <td>@Model[i].NormalSide</td>
                            <td>@Model[i].OriginalBalance</td>
                            <td>@Model[i].CurrentBalance</td>
                            <td>@Model[i].AccountDescription</td>
                            <td>@(Model[i].Active ? "Yes" : "No")</td>
                            <td>@Model[i].CreatedBy</td>
                            <td>

                                <a href="@Url.Action("EditAccount", new { id = Model[i].AccountNumber})">
                                    Edit
                                </a>

                                @*<a href="@Url.Action("Delete", new { id = Model[i].AccountNumber})">
                                        <i class="fas fa-user-edit"></i>
                                        Delete
                                    </a>*@
                            </td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <p> &copy; @DateTime.Now.Year - Objective Accounting</p>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Accountstable').DataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                var myformdata = $("#accountform").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Admin/ChartOfAccounts",
                    data: myformdata,
                    success: function () {

                        $("#exampleModal").modal("hide");
                    }
                })

            })
        })

    </script>
    <script type="text/javascript">

    window.onload = function () {
        var username = '@Session["FirstNameofUser"]';
        document.getElementById("LoggedName").innerHTML = "Welcome, " + username;
    };

    </script>
</body>
</html>