@model IEnumerable<AccountingApp.Models.EventLog>

@{
    ViewBag.Title = "Event Log";
    //Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    Layout = null;
}
<html>
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Bootstrap CSS -->
    @*
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />*@
    @*
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <style>
        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            margin-bottom: 40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        table.AccountsModalTable {
            background-color: #EEEEEE;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

            table.AccountsModalTable td, table.AccountsModalTable th {
                border: 1px solid #AAAAAA;
                padding: 3px 2px;
            }

            table.AccountsModalTable tbody td {
                font-size: 18px;
            }

            table.AccountsModalTable tr:nth-child(even) {
                background: #D0E4F5;
            }

            table.AccountsModalTable thead {
                background: #3885A4;
                background: -moz-linear-gradient(top, #6aa3bb 0%, #4c91ad 66%, #3885A4 100%);
                background: -webkit-linear-gradient(top, #6aa3bb 0%, #4c91ad 66%, #3885A4 100%);
                background: linear-gradient(to bottom, #6aa3bb 0%, #4c91ad 66%, #3885A4 100%);
            }

                table.AccountsModalTable thead th {
                    font-size: 20px;
                    font-weight: bold;
                    color: #FFFFFF;
                    border-left: 2px solid #D0E4F5;
                }

                    table.AccountsModalTable thead th:first-child {
                        border-left: none;
                    }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        i,
        span {
            display: inline-block;
        }


        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }


        .wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        .wrapper {
            display: flex;
            align-items: stretch;
        }

        #sidebar {
            min-width: 300px;
            max-width: 650px;
            min-height: 100vh;
        }
        /*#sidebar.active {
                margin-left: -150px;
            }*/
        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background: #f4f4f4;
            font-size: 1.2em;
        }

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        #sidebar {
            background: #3e547f;
            color: lightgray;
            transition: all 0.3s;
        }

            #sidebar .sidebar-header {
                padding: 20px;
                background: #3e547f;
                border-bottom: 1px solid #47748b;
            }

            #sidebar ul.components {
                padding: 20px 0;
                border-bottom: 1px solid #47748b;
            }

            #sidebar ul p {
                color: #d5d8e0;
                padding: 20px;
            }

            #sidebar ul li a {
                padding: 20px;
                font-size: 1.2em;
                display: block;
            }

                #sidebar ul li a:hover {
                    color: #3e547f;
                    background: #d5d8e0;
                }

            #sidebar ul li.active > a, a[aria-expanded="true"] {
                color: #fff;
                background: #3e547f;
            }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6579a0;
        }

        @@media (max-width: 768px) {
            #sidebar {
                margin-left: -300px;
            }

                #sidebar.active {
                    margin-left: 0;
                }
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="fixed-left">

            <div class="sidebar-header">
                <h5>Menu</h5>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/Admin/Dashboard">
                        <i class="fas fa-home" style="margin-right:10px;"></i>
                        Dashboard
                    </a>

                </li>
                <li>

                    <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-list" style="margin-right:10px;"></i>
                        Chart Of Accounts
                    </a>
                    <ul class="collapse list-unstyled" id="accountSubmenu">
                        <li>
                            <a href="/Admin/ChartOfAccounts">Chart of Accounts</a>
                        </li>
                        <li>
                            <a href="/Admin/NewAccount">Create New Account</a>
                        </li>
                        <li>
                            <a href="/Admin/AccountRequests">View Requests</a>
                        </li>

                    </ul>
                    <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-users" style="margin-right:10px;"></i>
                        Users
                    </a>
                    <ul class="collapse list-unstyled" id="userSubmenu">
                        <li>
                            <a href="/Admin/AllUsers">User List</a>
                        </li>
                        <li>
                            <a href="/Admin/UserStatistics">User Statistics</a>
                        </li>
                        <li>
                            <a href="/Admin/NewUser">Create New User</a>
                        </li>

                    </ul>
                    <a href="/Admin/EventLog">
                        <i class="fas fa-briefcase" style="margin-right:10px;"></i>
                        Event Log
                    </a>

                </li>
            </ul>

        </nav>

        <div id="content">

            <nav class="navbar navbar-expand-lg sticky-top navbar-light justify-content-between">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color:#3e547f">
                        <i class="fas fa-bars"></i>

                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="~/img/Accounting Logo.PNG" width="150" height="40" style="margin-right: 15px; margin-left: 10px;" />

                    </a>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto" style="float:right">
                            <li class="nav-item active" style="margin-top:10px">
                                <a>
                                    <i class="fas fa-user-circle" style="color:#3e547f;font-size:24px; "></i>


                                    <i id="LoggedName" class="nav-item" style="font-size: large;  font-style: normal;">Welcome, Admin</i>
                                </a>

                            </li>

                            <li class="nav-item active">
                                <button class=" btn btn-outline-success" onclick="LogOutUser()" style="font-size:large;margin-left:30px">
                                    Log Out


                                </button>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>


            <h4>Event Log</h4>
            <hr />
            <div>
                <table class="table table-responsive table-hover shadow " id="Events" style="font-size:1.1rem; background-color:white; width:100%; box-shadow: 2px 6px 6px 2px lightgray;">
                    <thead class="shadow" style="background-color:white; ">
                    <th>
                        Event ID
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        User ID
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.From)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.To)
                    </th>
                    <th>
                        IP Address
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Screen)
                    </th>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.From != null)
                            {
                                if (item.From.Contains("Edited User"))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EventID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserID)
                                        </td>

                                        <td onclick="PopulateEditedUserModal(this)" style="color:blue; cursor: pointer" data-toggle="modal" data-target="#EditedUserModal">@Html.DisplayFor(modelItem => item.From)</td>

                                        <td onclick="PopulateModifiedUserModal(this)" style="color:blue; cursor: pointer" data-toggle="modal" data-target="#ModifiedUserModal">@Html.DisplayFor(modelItem => item.To)</td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IPAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Screen)
                                        </td>
                                    </tr>
                                }
                                else if (item.From.Contains("Edited Journal Entry"))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EventID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserID)
                                        </td>

                                        <td onclick="PopulateEntryModal(this)" style="color:blue; cursor: pointer" data-toggle="modal" data-target="#EntryModal">@Html.DisplayFor(modelItem => item.From)</td>

                                        <td onclick="UpdatePopulateEntryModal(this)" style="color:blue; cursor: pointer" data-toggle="modal" data-target="#EntryModal">@Html.DisplayFor(modelItem => item.To)</td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IPAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Screen)
                                        </td>
                                    </tr>
                                }
                                else if (item.From.Contains("Edited Account"))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EventID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserID)
                                        </td>

                                        <td onclick="PopulateEditedAccountModal(this)" style="color:blue; cursor: pointer" data-toggle="modal" data-target="#ModifiedAccountModal">@Html.DisplayFor(modelItem => item.From)</td>

                                        <td onclick="PopulateUpdatedAccountModal(this)" style="color:blue; cursor: pointer" data-toggle="modal" data-target="#UpdatedAccountModal">@Html.DisplayFor(modelItem => item.To)</td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.IPAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Screen)
                                        </td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserID)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.From)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.To)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IPAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Screen)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="EditedUserModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 style="text-align:left" class="modal-title">Old User Details</h4>
                        </div>
                        <div id="EditedUserModalContent" class="modal-body">

                            <div id="EditedModalEntryID">ID: </div>
                            <div id="EditedModalDate">Date Created: </div>
                            <br />
                            <table id="EditedUserTable" class="AccountsModalTable"></table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModifiedUserModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 style="text-align:left" class="modal-title">Updated User Details</h4>
                        </div>
                        <div id="EditedUserModalContent" class="modal-body">

                            <div id="ModifiedModalEntryID">ID: </div>
                            <div id="ModifiedModalDate">Date Created: </div>
                            <br />
                            <table id="ModifedUserTable" class="AccountsModalTable"></table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModifiedAccountModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 style="text-align:left" class="modal-title">Old Account Details</h4>
                        </div>
                        <div id="EditedAccountModalContent" class="modal-body">

                            <div id="EditedAccountEventId">ID: </div>
                            <div id="EditedAccountEventDate">Date Created: </div>
                            <br />
                            <div id="EditedAccountName">Name: </div>
                            <br />
                            <table id="EditedAccountModalTable" class="AccountsModalTable"></table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="UpdatedAccountModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 style="text-align:left" class="modal-title">New Account Details</h4>
                        </div>
                        <div id="UpdatedAccountModalContent" class="modal-body">

                            <div id="UpdatedAccountEventId">ID: </div>
                            <div id="UpdatedAccountEventDate">Date Created: </div>
                            <br />
                            <div id="UpdatedAccountName">Name: </div>
                            <br />
                            <table id="UpdatedAccountModalTable" class="AccountsModalTable"></table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="EntryModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 id="JournalEntryModalTitle" style="text-align:left" class="modal-title">Entry Details</h4>
                        </div>
                        <div id="EntryModalContent" class="modal-body">

                            <div id="ModalEntryID">ID: </div>
                            <div id="ModalDate">Date Created: </div>
                            <br />
                            <div id="EntryID">Journal Entry: </div>
                            <div id="ModalStatus">Status: </div>
                            <div id="ModalType">Type: </div>
                            <br />
                            <table id="ModalJournalTable" class="AccountsModalTable">
                                <thead>
                                    <tr>
                                        <th>Account Name</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <br />
                            <div id="ModalComment">Comment: </div>
                            <br />


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container body-content">

                <hr />
                <footer align="center">
                    <p>
                        &copy; @DateTime.Now.Year - Objective Accounting -
                        Jared Breedlove, Amnah Ilyas, Quillan May, Colt McKissick, Broderick Thayer, and Zachary Thayer
                    </p>
                </footer>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript">


    window.onload = function () {
        var username = '@Session["FirstNameofUser"]';
        document.getElementById("LoggedName").innerHTML = "Welcome, " + username;
    };

    </script>


    <script>

        function PopulateUpdatedAccountModal(id) {

            $("#UpdatedAccountModalTable tr").remove();

            var row = $(id).closest('tr');
            var table = document.getElementById("Events");

            var ID = table.rows[row[0].rowIndex].cells[0].innerText;
            var ModalID = document.getElementById("UpdatedAccountEventId");
            ModalID.innerHTML = "ID: " + ID;

            var Date = table.rows[row[0].rowIndex].cells[1].innerText;
            var ModalDate = document.getElementById("UpdatedAccountEventDate");
            ModalDate.innerHTML = "Event Date: " + Date;


            var AccName = table.rows[row[0].rowIndex].cells[3].innerText;
            var NameElement = document.getElementById("UpdatedAccountName");
            var line = AccName.split(":");
            var AccName2 = line[1];
            var AccName3 = AccName2.replace(" ", "");
            NameElement.innerHTML = "Account: " + AccName3;



            var Query;

            $.ajax(
                {
                    url: '/Admin/RetrieveEditedDetailsTo/',
                    type: "GET",
                    async: false,
                    dataType: "json",
                    contentType: "application/json;",
                    data: { "id": ID },
                    success: function (result) {
                        //alert(result);
                        Query = result;

                    },
                    error: function (error) {
                        //alert(JSON.stringify(error));
                    }
                });

            var Query2 = Query.replace(/"/g, "");
            var Data = Query2.split("|^|");

            for (var i = 0; i < Data.length; i++) {

                var Split = Data[i].split(":");

                var table = document.getElementById("UpdatedAccountModalTable");
                var row = table.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = Split[0];
                cell2.innerHTML = Split[1];
            }
        }

        function PopulateEditedAccountModal(id) {

            $("#EditedAccountModalTable tr").remove();

            var row = $(id).closest('tr');
            var table = document.getElementById("Events");

            var ID = table.rows[row[0].rowIndex].cells[0].innerText;
            var ModalID = document.getElementById("EditedAccountEventId");
            ModalID.innerHTML = "ID: " + ID;

            var Date = table.rows[row[0].rowIndex].cells[1].innerText;
            var ModalDate = document.getElementById("EditedAccountEventDate");
            ModalDate.innerHTML = "Event Date: " + Date;


            var AccName = table.rows[row[0].rowIndex].cells[3].innerText;
            var NameElement = document.getElementById("EditedAccountName");
            var line = AccName.split(":");
            var AccName2 = line[1];
            var AccName3 = AccName2.replace(" ", "");
            NameElement.innerHTML = "Account: " + AccName3;



            var Query;

            $.ajax(
                {
                    url: '/Admin/RetrieveEditedDetailsFrom/',
                    type: "GET",
                    async: false,
                    dataType: "json",
                    contentType: "application/json;",
                    data: { "id": ID },
                    success: function (result) {
                        //alert(result);
                        Query = result;

                    },
                    error: function (error) {
                        //alert(JSON.stringify(error));
                    }
                });

            var Query2 = Query.replace(/"/g, "");
            var Data = Query2.split("|^|");

            for (var i = 0; i < Data.length; i++) {

                var Split = Data[i].split(":");

                var table = document.getElementById("EditedAccountModalTable");
                var row = table.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = Split[0];
                cell2.innerHTML = Split[1];
            }

        }

        function PopulateEditedUserModal(id) {

            $("#EditedUserTable tr").remove();

            var row = $(id).closest('tr');
            var table = document.getElementById("Events");
                       

            var ID = table.rows[row[0].rowIndex].cells[0].innerText;
            var ModalID = document.getElementById("EditedModalEntryID");
            ModalID.innerHTML = "ID: " + ID;

            var Date = table.rows[row[0].rowIndex].cells[1].innerText;
            var ModalDate = document.getElementById("EditedModalDate");
            ModalDate.innerHTML = "Event Date: " + Date;

            var Query;

            $.ajax(
                {
                    url: '/Admin/RetrieveEditedDetailsFrom/',
                    type: "GET",
                    async: false,
                    dataType: "json",
                    contentType: "application/json;",
                    data: { "id": ID },
                    success: function (result) {
                        //alert(result);
                        Query = result;

                    },
                    error: function (error) {
                        //alert(JSON.stringify(error));
                    }
                });

            var Query2 = Query.replace(/"/g, "");
            var Data = Query2.split("|^|");

            for (var i = 0; i < Data.length; i++) {

                var Split = Data[i].split(":");

                var table = document.getElementById("EditedUserTable");
                var row = table.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = Split[0];
                cell2.innerHTML = Split[1];
            }

        }

        function PopulateModifiedUserModal(id) {

            $("#ModifedUserTable tr").remove();

            var row = $(id).closest('tr');
            var table = document.getElementById("Events");                       

            var ID = table.rows[row[0].rowIndex].cells[0].innerText;
            var ModalID = document.getElementById("ModifiedModalEntryID");
            ModalID.innerHTML = "ID: " + ID;

            var Date = table.rows[row[0].rowIndex].cells[1].innerText;
            var ModalDate = document.getElementById("ModifiedModalDate");
            ModalDate.innerHTML = "Event Date: " + Date;

            var Query;

            $.ajax(
                {
                    url: '/Admin/RetrieveEditedDetailsTo/',
                    type: "GET",
                    async: false,
                    dataType: "json",
                    contentType: "application/json;",
                    data: { "id": ID },
                    success: function (result) {
                        //alert(result);
                        Query = result;

                    },
                    error: function (error) {
                        //alert(JSON.stringify(error));
                    }
                });

            var Query2 = Query.replace(/"/g, "");
            var Data = Query2.split("|^|");

            for (var i = 0; i < Data.length; i++) {

                var Split = Data[i].split(":");

                var table = document.getElementById("ModifedUserTable");
                var row = table.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = Split[0];
                cell2.innerHTML = Split[1];
            }

        }

        function UpdatePopulateEntryModal(id) {

            $("#ModalJournalTable tbody tr").remove();

            var row = $(id).closest('tr');
            var table = document.getElementById("Events");

            var EntryModalHeader = document.getElementById("JournalEntryModalTitle");            
            EntryModalHeader.innerText = "Updated Entry Details";            

            var ID = table.rows[row[0].rowIndex].cells[0].innerText;
            var ModalID = document.getElementById("ModalEntryID");
            ModalID.innerHTML = "ID: " + ID;

            var Date = table.rows[row[0].rowIndex].cells[1].innerText;
            var ModalDate = document.getElementById("ModalDate");
            ModalDate.innerHTML = "Event Date: " + Date;


            var Query;

            $.ajax(
                {
                    url: '/Admin/RetrieveEditedDetailsTo/',
                    type: "GET",
                    async: false,
                    dataType: "json",
                    contentType: "application/json;",
                    data: { "id": ID },
                    success: function (result) {
                        //alert(result);
                        Query = result;

                    },
                    error: function (error) {
                        //alert(JSON.stringify(error));
                    }
                });

            var Query2 = Query.replace(/"/g, "");
            var Data = Query2.split("|^|");


            var EntryIDModal = document.getElementById("EntryID");
            EntryIDModal.innerHTML = "Journal Entry: " + Data[0];


            var ModalStatus = document.getElementById("ModalStatus");
            ModalStatus.innerHTML = Data[1];


            var ModalType = document.getElementById("ModalType");
            ModalType.innerHTML = Data[2];

            var JournalDetails = Data[3];

            var Items = JournalDetails.split(",");

            for (var i = 0; i < Items.length; i++) {

                var Split = Items[i].split("-");

                var tableRef = document.getElementById('ModalJournalTable').getElementsByTagName('tbody')[0];

                // Insert a row in the table at the last row
                var row = tableRef.insertRow(tableRef.rows.length);

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                cell1.innerHTML = Split[0];
                cell2.innerHTML = Split[1];
                cell3.innerHTML = Split[2];
            }

            var ModalComment = document.getElementById("ModalComment");
            ModalComment.innerHTML = Data[4];


        }


        function PopulateEntryModal(id) {

            $("#ModalJournalTable tbody tr").remove();

            var row = $(id).closest('tr');
            var table = document.getElementById("Events");

            var EntryModalHeader = document.getElementById("JournalEntryModalTitle");
            EntryModalHeader.innerText = "Old Entry Details";  

            var ID = table.rows[row[0].rowIndex].cells[0].innerText;
            var ModalID = document.getElementById("ModalEntryID");
            ModalID.innerHTML = "ID: " + ID;

            var Date = table.rows[row[0].rowIndex].cells[1].innerText;
            var ModalDate = document.getElementById("ModalDate");
            ModalDate.innerHTML = "Event Date: " + Date;


            var Query;

            $.ajax(
                {
                    url: '/Admin/RetrieveEditedDetailsFrom/',
                    type: "GET",
                    async: false,
                    dataType: "json",
                    contentType: "application/json;",
                    data: { "id": ID },
                    success: function (result) {
                        //alert(result);
                        Query = result;

                    },
                    error: function (error) {
                        //alert(JSON.stringify(error));
                    }
                });

            var Query2 = Query.replace(/"/g, "");
            var Data = Query2.split("|^|");
                        

            var EntryIDModal = document.getElementById("EntryID");
            EntryIDModal.innerHTML = "Journal Entry: " + Data[0];


            var ModalStatus = document.getElementById("ModalStatus");
            ModalStatus.innerHTML = Data[1];


            var ModalType = document.getElementById("ModalType");
            ModalType.innerHTML = Data[2];

            var JournalDetails = Data[3];

            var Items = JournalDetails.split(",");

            for (var i = 0; i < Items.length; i++) {

                var Split = Items[i].split("-");

                var tableRef = document.getElementById('ModalJournalTable').getElementsByTagName('tbody')[0];

                // Insert a row in the table at the last row
                var row = tableRef.insertRow(tableRef.rows.length);

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                cell1.innerHTML = Split[0];
                cell2.innerHTML = Split[1];
                cell3.innerHTML = Split[2];
            }
            
            var ModalComment = document.getElementById("ModalComment");
            ModalComment.innerHTML = Data[4];

        }

    </script>

    <script>
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
        @Styles.Render("~/Content/dataTables")
    @Scripts.Render("~/bundles/dataTables")
    </script>

    @*<script>
            $(document).ready(function () {
                $('#Events').DataTable();
            });
        </script>*@
    <script>
        $(document).ready(function () {
            var table = $('#Events').DataTable({
                "dom": '<"toolbar">frtip'
            });
            $("div.toolbar").html('<input id="date_range" type="text" placeholder= "Search By: Start Date to End Date" style="width:30%" class="form-control">');

            $("#date_range").daterangepicker({
                autoUpdateInput: false,
                locale: {
                    "cancelLabel": "Clear",
                }
            });

            $("#date_range").on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' to ' + picker.endDate.format('MM/DD/YYYY'));
                table.draw();
            });

            $("#date_range").on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
                table.draw();
            });

            $.fn.dataTableExt.afnFiltering.push(
                function (oSettings, aData, iDataIndex) {

                    var grab_daterange = $("#date_range").val();
                    var give_results_daterange = grab_daterange.split(" to ");
                    var filterstart = give_results_daterange[0];
                    var filterend = give_results_daterange[1];
                    var iStartDateCol = 1;
                    var iEndDateCol = 1;
                    var tabledatestart = aData[iStartDateCol];
                    var tabledateend = aData[iEndDateCol];

                    if (!filterstart && !filterend) {
                        return true;
                    }
                    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isBefore(tabledatestart)) && filterend === "") {
                        return true;
                    }
                    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isAfter(tabledatestart)) && filterstart === "") {
                        return true;
                    }
                    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isBefore(tabledatestart)) && (moment(filterend).isSame(tabledateend) || moment(filterend).isAfter(tabledateend))) {
                        return true;
                    }
                    return false;
                }
            );

        });
    </script>
    <script>

        function LogOutUser() {

            var username = '@Session["Username"]';

            $.ajax({
                url: "/Account/LogOutUser",
                contentType: "application/json; charset=utf-8",
                data: "{'username':'" + username + "'}",
                type: 'POST',
                cache: false,
                success: function (result) {
                    //alert(result);
                }
            });

            window.location.href = '../../Account/Login';
        }

    </script>

</body>
</html>