@model AccountingApp.Models.NewUserModel

@{
    ViewBag.Title = "Create A New User";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    //Layout = null;

}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />*@
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    @*<link href="~/Scripts/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/Scripts/bootstrap-datetimepicker.min.css" rel="stylesheet" />

        @Styles.Render("~/Scripts/bootstrap-datetimepicker.css")*@

    @*@Styles.Render("~/Scripts/bootstrap.min.css")*@

    @Styles.Render("~/Scripts/bootstrap-datetimepicker.min.css")

    <style>

        .form_datetime {
            display: block;
            width: 100%;
            height: 38px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        .errorMsg {
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
        }
    </style>

</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @*@Html.ValidationSummary(true, "The following errors were found:", new { @class = "alert alert-danger" })*@

        <form method="post" id="accountform">
            <div class="container" style="width: 43%">
                @Html.ValidationSummary(true, "The following errors were found:", new { @class = "alert alert-danger" })
            </div>

            <br />
            <div class="container shadow" style="width:70%;background-color:white">
                <br />
                <h2>Create New User</h2>

                <hr />

                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date_Created, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Date_Created, new { htmlAttributes = new { @class = "form_datetime" } })

                            @*<input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime">*@

                            @Html.ValidationMessageFor(model => model.Date_Created, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label style="padding-left: 1rem">First Name</label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label style="padding-left: 1rem">Last Name</label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMsg" })

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "errorMsg" })

                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label style="padding-left: 1rem">Confirm Password</label>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                            @*@Html.DropDownList(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })*@
                            <select name="Role" class="form-control" id="Role">
                                <option value="Admin">Admin</option>
                                <option value="Manager">Manager</option>
                                <option value="Accountant">Accountant</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label style="padding-left: 1rem">Phone Number</label>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "errorMsg" })
                    @*</div>*@
                </div>


                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label" })
                            <select name="State" class="form-control" id="State" value="@Request["State"]">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "errorMsg" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.ZIP_Code, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label style="padding-left: 1rem">ZIP Code</label>
                            @Html.EditorFor(model => model.ZIP_Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ZIP_Code, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <label style="padding-left: 1rem">Allow Access</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                </div>

                <hr />
                
                <button type="submit" class="btn btn-success" href="@Url.Action("AllUsers")" id="btnsubmit">Submit</button>
                <a href="@Url.Action("AllUsers")" class="btn btn-warning" @*class="btn btn-warning btn-lg"*@>
                    Cancel
                </a>
                
                <br />
                <br />
                
            </div>
        </form>
    </div>
    <br />
    <br />
}

<hr />


@Scripts.Render("~/Scripts/jquery-1.8.3.min.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")


<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        format: "m/d/yyyy H:ii:ss P",
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


<script type="text/javascript">

    window.onload = function () {
        var username = '@Session["FirstNameofUser"]';
        document.getElementById("LoggedName").innerHTML = "Welcome, " + username;
    };

</script>