@model AccountingApp.Models.AnswerQuestionsModel

@{
    ViewBag.Title = "Answer Questions";
    Layout = "~/Views/Shared/_Layout-Account.cshtml";
}

<style>

    .form-control.text-box.single-line {
        /*width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        padding-left: 10px;*/
        margin: 0px;
        border: 2px solid dodgerblue;
        border-radius: 6px;
    }

    .button_example {
        width: 100%;
    }

    /*.container.body-content {
        padding-bottom: 5px;
    }*/


    .text-danger {
        color: red;
    }

    .SuccessText {
        color: limegreen;
    }

    a {
        color: #0000ff;
        font-family: Arial;
        font-size: 15px;
    }


</style>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h1 style="font-size: 28px; color:dodgerblue;border-bottom: 4px solid dodgerblue;margin-bottom: 20px;padding: 5px">Security Questions</h1>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<br />*@
    <div class="text-primary">
        @ViewBag.Question_1
    </div>

    @*@Html.LabelFor(model => model.Security_Question1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Security_Question1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Security_Question1, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div style="padding-left: 5px;">
        @Html.LabelFor(model => model.Answer_1, htmlAttributes: new { @class = "control-label" })
    </div>
    @*<div class="form-group">*@

    <div class="textbox">
        @Html.EditorFor(model => model.Answer_1, new { htmlAttributes = new { @class = "form" } })

    </div>
    @Html.ValidationMessageFor(model => model.Answer_1, "", new { @class = "text-danger" })
    @*</div>*@
    <br />
    <div class="text-primary">
        @ViewBag.Question_2
    </div>


    @*@Html.LabelFor(model => model.Security_Question2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Security_Question2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Security_Question2, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div style="padding-left: 5px;">
        @Html.LabelFor(model => model.Answer_2, htmlAttributes: new { @class = "control-label" })
    </div>
    @*<div class="form-group">*@

    <div class="textbox">
        @Html.EditorFor(model => model.Answer_2, new { htmlAttributes = new { @class = "form" } })

    </div>
    @Html.ValidationMessageFor(model => model.Answer_2, "", new { @class = "text-danger" })
    @*</div>*@

    <div class="form-group" style="padding-top: 20px">
        <div class="col-md-offset-2 col-md-10" style="margin-left: 0px">
            <input type="submit" value="Recover" class="button_example" />
        </div>
    </div>

    @*<br />*@
    <div class="SuccessText">
        @ViewBag.Message
    </div>
    <div class="text-danger">
        @ViewBag.Error
    </div>
</div>
}

<div>
    @Html.ActionLink("🡐 Login", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
